$main-color__1: black;
$main-color__2: white;
$accent-color__1: purple;

$main-background-color__1: rgba(249,218,146,.85);

@font-face {
	font-family: 'Verdana';
	src: url();
}

$main-font__1: 'Verdana';

$standard-value: 10px;