.parent {
	padding: 100px 0 0 0;
	width: 200px;
	margin: 0 auto;
}

// ####################################################################################################
// Begin des Code-Snippets

@import './variables';


select {
	border: 0.2*$standard-value solid white;
	border-radius: 0.4*$standard-value;
	color: white;
	width: 10*$standard-value;
	background-color: transparent;
}